html {
    box-sizing: border-box;
    background-color: #FAF5F0;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    background-color: #e9c69b70;
    max-width: 1000px;
    margin: auto;
    padding: 10px 30px;
    border-radius: 10px;
}
